<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Cropify - A step towards AI Agriculture</title>
        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
        <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
        />
        <link rel="stylesheet" href="/static/css/style.css" />
    </head>
    <body>
        <!-- <div class="top-left-circle"></div> -->

        <section class="page-1" id="page1">
            <!-- Navigation Bar -->
            <div class="navbar">
                <div class="company-logo">
                    <a href="/" class="company-logo">
                        <img src="/static/img/pngwing.com.png" alt="logo" />
                        <p>Cropify</p>
                    </a>
                </div>
                <div class="nav-menu">
                    <ul id="menu">
                        <li id="home"><a href="/">Home</a></li>
                        <li id="products"><a href="/products">Products</a></li>
                        <li id="contact"><a href="contact_page.html">Contact</a></li>
                    </ul>
                </div>
                <div class="getstarted">
                    <a href="#" class="button alink">Get Started</a>
                </div>
            </div>

            <!-- Main Page Container -->
            <div class="container">
                <div class="left-container">
                    <div class="title">
                        We <span class="line">love</span> helping you to improve
                        <span class="line">agriculture</span>🍃
                    </div>
                    <div class="subtitle">
                        <p>
                            Help improve crop production and agriculture with <span>Cropify.</span>
                        </p>
                    </div>
                    <div class="btns-grp">
                        <a href="/products" class="button alink">Try it now</a>
                        <a href="#" class="guide-link"
                            ><span>See how it works</span> <i class="bx bx-right-arrow-alt"></i
                        ></a>
                    </div>
                </div>
                <div class="right-container">
                    <img src="/static/img/Untitled-1.png" alt="" />
                </div>
            </div>
        </section>

        <section class="page-2" id="page2">
            <p class="title">Steps to Analyse Your Soil Off Right</p>
            <p class="subtitle">Follow instructions for more</p>
            <div class="steps">
                <div class="step">
                    <div class="step-illus"><img src="/static/img/first_logo.png" alt="firststep" /></div>
                    <div class="step-info">
                        <div class="title">Sample Collection</div>
                        <div class="desc">
                            Identify the specific areas within the agricultural site that you want
                            to assess.
                        </div>
                    </div>
                </div>

                <div class="step">
                    <div class="step-illus"><img src="/static/img/second_logo.png" alt="secondstep" /></div>
                    <div class="step-info">
                        <div class="title">Fertility Analysis</div>
                        <div class="desc">
                            Assess the risk potential on the basis of soil chemical properties like
                            nutrientsx, PH etc.
                        </div>
                    </div>
                </div>

                <div class="step">
                    <div class="step-illus"><img src="/static/img/third_logo.png" alt="thirdstep" /></div>
                    <div class="step-info">
                        <div class="title">Predict Soil Suitability</div>
                        <div class="desc">
                            Determine soil condition and possible solutions to overcome it.
                        </div>
                    </div>
                </div>
            </div>

            <div class="temp">
                <div class="plant-desc">
                    <p class="title">Monstera Leaves</p>
                    <p class="desc">
                        commonly known as the Swiss cheese plant, is popular for its
                        <span>unique</span> and <span>attractive</span> foliage
                    </p>
                </div>
                <div class="left-img"><img src="/static/img/pt2.png" alt="" /></div>
                <div class="right-info">
                    <p class="title">Make your garden good nutrition</p>
                    <div class="points">
                        <div class="point">
                            <div class="checkbox"><i class="bx bx-check"></i></div>
                            <p>
                                Fleshy and moist, mineral rich banana skins easily diffuse potent
                                nutrients
                            </p>
                        </div>
                        <div class="point">
                            <div class="checkbox"><i class="bx bx-check"></i></div>
                            <p>Eggshells are chock full of nitrogen, calcium and phosphoric acid</p>
                        </div>
                        <div class="point">
                            <div class="checkbox"><i class="bx bx-check"></i></div>
                            <p>
                                Wood ashes are typically used to raise soil pH and can either be
                                scattered or composted
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="temp-2" id="contact">
                <div class="content">
                    <div class="left-side">
                        <div class="address details">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="topic">Address</div>
                            <div class="text-one">ABC, XYZ</div>
                        </div>
                        <div class="phone details">
                            <i class="fas fa-phone-alt"></i>
                            <div class="topic">Phone</div>
                            <div class="text-one">+9891960777</div>
                        </div>
                        <div class="email details">
                            <i class="fas fa-envelope"></i>
                            <div class="topic">Email</div>
                            <div class="text-one">dhruv.2023ug1002@iiitranchi.ac.in</div>
                        </div>
                    </div>
                    <div class="right-side">
                        <div class="topic-text">Send us a message</div>
                        <p>
                            If you have any work from me or any types of quries related to my
                            tutorial, you can send me message from here. Its my pleasure to help
                            you.
                        </p>
                        <form action="#">
                            <div class="input-box">
                                <input type="text" placeholder="Enter your name" />
                            </div>
                            <div class="input-box">
                                <input type="text" placeholder="Enter your email" />
                            </div>
                            <div class="input-box message-box">
                                <textarea
                                    name="query"
                                    id="q"
                                    cols="30"
                                    rows="10"
                                    placeholder="Write your message..."
                                ></textarea>
                            </div>
                            <div class="button-div">
                                <button type="submit" class="button">Send Now</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="content">
                <div class="one">
                    <p class="title">Info</p>
                    <ul>
                        <li>Pricing</li>
                        <li>FAQ</li>
                        <li>Status</li>
                        <li>Policy</li>
                    </ul>
                </div>

                <div class="two">
                    <p class="title">Getting Started</p>
                    <ul>
                        <li>Introduction</li>
                        <li>Themes</li>
                        <li>Documentation</li>
                        <li>Usages</li>
                    </ul>
                </div>

                <div class="three">
                    <p class="title">Resources</p>
                    <ul>
                        <li>API</li>
                        <li>Form Validation</li>
                        <li>Accessibility</li>
                        <li>Marketplace</li>
                    </ul>
                </div>

                <div class="four">
                    <p class="title">Social</p>
                    <p class="desc">
                        Follow our social handles and join our community for updates, news and
                        helpful tips.
                    </p>
                    <div class="social">
                        <div class="icon">
                            <i class="bx bxl-facebook"></i>
                        </div>
                        <div class="icon">
                            <i class="bx bxl-instagram"></i>
                        </div>
                        <div class="icon">
                            <i class="bx bxl-twitter"></i>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
    </body>
</html>
